@charset "utf-8";
/* CSS Document */
*{
    padding: 12px;
    margin: 10px;
}

.mainContent{
    display: center;
    
}

.leftSideBar{
    background-color: green;
    color: blue;
    padding: 20px;
    flex: 1;
    order: 2;
    
    
}
.rightSideBar{
    background-color: chartreuse;
    color: black;
    padding: 20px;
    flex: 2;
    order: 3;
}
.centerBar{
    background-color: dodgerblue;
    color: black;
    padding: 20px;
    flex: 3;
    order: 5;

}


.moreBoxes{
    display: flex;
    justify-content: space-between;
    max-width: 1200;
    flex-wrap: wrap;
    
    
}

.box1{
    
    background-color: aquamarine;
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.box2{
   
    background-color: beige;
    flex: 1;
    margin: 10px;
    min-width: 200px;
    
}

.box3{
    
    background-color: burlywood;
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

